.tabela{
    background-color: black;
    color: #ffff;
}

th{
    background-color: black;
    color: white;
    width: 10vw;
    padding: 3px;
    text-align: left;
}
.tabelinha{
    background-color: lightslategray;
    color: #090909;
}
